body{ margin: 0px;
  
}

#bg {
    background: #a5adb0 url(assets/masthead@2x.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    position: absolute;
    left:0;
    right:0 ;
    height:500px ;
    z-index:-1000 ;

}
main{
    width: 1140px;
    margin: 0 auto;

}
#logo img {
    height: 52px;
    
}
header{
    padding-top: 60px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav a{
    padding: 6px 24px;
    margin: 0 6px;
    color: inherit;
    text-decoration: none;
}