*{margin: 0%;
padding: 0%;}

body {
    color: rgba(0,0,0,0.5)
}

section {
    display: flex;
}
grid
main{

    width: 1200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    /* background: lightblue; */
    /* font-size: 40px; */
background: red;
}
header {background:pink;}
aside {
    width: 200px;
background: yellow;
height: 400px;
}
article {
    width: 800px;
background:green;
height: 400px;}
.flex  {
    width: 500px;
    background:white;
    display: flex;
    flex-wrap: wrap;

}
.flex div{
    width: 100px;
    height: 6px;
    background:red;
    margin: 10px;

}
#right-panel{
    width: 200px;
background: blueviolet;
height: 400px;}
footer
{
    height: 200px ;
    background: black;
}
span {
    color:#ffffff;
}
#obj {
    font-weight: bold;
 }

 .f20 {
    font-size: 20px;
}
.c_pink {
    color: pink;
}


